In [ ]:
# Dataset Repository

# https://archive.ics.uci.edu/
# https://vincentarelbundock.github.io/Rdatasets/datasets.html.

In [8]:
# ----------READ DATA-----------#

# Pandas Documentation: https://pandas.pydata.org/pandas-docs/stable/getting_started/tutorials.html

import pandas as pd

abalone = pd.read_csv('abalone/abalone.data', header = None)

abalone.shape

# abalone.head()

# print(type(abalone))

(4177, 9)

In [5]:
abalone.columns = ['Sex', 'Length', 'Diameter', 'Height','Whole weight','Shucked weight', 'Viscera weight', 'Shell weight','Rings']

abalone.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [13]:
# ----------READ DATA-----------#

urlprefix = 'https://vincentarelbundock.github.io/Rdatasets/csv/'
dataname = 'datasets/iris.csv'
iris = pd.read_csv(urlprefix + dataname)

iris.head()

# iris.shape

# iris['Sepal.Length']

   rownames  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0         1           5.1          3.5           1.4          0.2  setosa
1         2           4.9          3.0           1.4          0.2  setosa
2         3           4.7          3.2           1.3          0.2  setosa
3         4           4.6          3.1           1.5          0.2  setosa
4         5           5.0          3.6           1.4          0.2  setosa

In [14]:
data = pd.DataFrame({'Course': ['Data Science','Biomaterials Science','Computer Science','Applied Machine Learning', 'Data Mining'],
                    'C#':['CSCI183','BIOE153','CSCI10','CSCI184','CSCI185']})

data

                     Course       C#
0              Data Science  CSCI183
1      Biomaterials Science  BIOE153
2          Computer Science   CSCI10
3  Applied Machine Learning  CSCI184
4               Data Mining  CSCI185